.parent
{
	margin-top: 150px;
	margin-left: 8%;
	padding: 10px;
	position: relative;
	display: inline-block;
	margin-bottom: 50px;
}

.Bob
{
	position: relative;
	width: 350px;
	z-index: 0;
}

.Bubble
{
	position: relative;
	width: 650px;
	margin-bottom: 60px;
	margin-left: -65px;
	z-index: 1;
}

.Text
{
	position: absolute;
	top: 60px;
	right: 30px;
	z-index: 2;
	font-size: 17px;
}

#getName
{
	position: absolute;
	right: 200px;
	top: 350px;
	z-index: 2;
}

#Bubble2
{
	top: -150px;
	left: -100px;
	width: 190px;
}

#iago_text
{
	top: -68px;
	left: 90px;
}
